@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: rgb(255, 248, 248);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.card{
    width: 450px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
}
input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
}
.relative-icon{
    position: relative;
    top: -5px;
}
.input-div{
    display: flex;
    align-items: end;
    gap: 10px;
    border: 2px solid rgb(13, 67, 121);
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: outline 0.3s ease;
    padding: 10px;

}
.input-div:focus-within{
    outline: 2px solid dodgerblue;
}
main{
    margin: 18px auto;
    overflow-y: scroll;
    height: 500px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
main::-webkit-scrollbar{
    width: 6px;
}
main::-webkit-scrollbar-thumb{
    background-color: transparent;
}
main:hover::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
}
.img-wrapper{
    width: 100px;
    height: 100px;
    min-width: 100px;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.product{
    margin-bottom: 12px;
    padding: 5px 0;
    align-items: center;
    border-radius: 7px;
    display: flex;
    gap: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: outline 0.3s ease;
    
}
@media screen and (max-width: 450px) {
    .product{
        flex-wrap: wrap;
        display: flex;
        gap: 10px;

        
    }
    .img-wrapper{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
    }
}